.swiper {
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  font-size: 50px;
  z-index: 100;
  border-radius: 50%;
  background-color: aliceblue;
  padding: 5px;
  transition: background-color 0.3s ease-out;
  &:hover {
    background-color: sandybrown;
  }
}

.swiper-button-prev {
  transform: scaleX(-1) translateY(-50%);
  left: -35px;
}

.swiper-button-next {
  left: auto;
  right: -35px;
}
